<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Oliver Brummel</title>
    <!-- <link rel = "stylesheet" href = "vendors/font-awesome/css/font-awesome.min.css" /> -->
    <script src = "vendors/angular/angular.min.js"></script>
    <script src = "vendors/angular-animate/angular-animate.min.js"></script>
    <script src = "vendors/angular-aria/angular-aria.min.js"></script>
    <script src = "vendors/angular-messages/angular-messages.min.js"></script>
    <script src = "vendors/angular-material/angular-material.min.js"></script>
    <link rel = "stylesheet" href = "vendors/angular-material/angular-material.min.css" />
    <!-- [[[[[[[[[[[[[[[[ LOCAL ]]]]]]]]]]]]]]]] -->
    <script src = "assets/scripts/client.min.js"></script>
    <link rel = "stylesheet" href = "assets/styles/style.css" />
  </head>
  <body ng-app = "oliverApp" layout = "column">
    <h1>Oliver Brummel</h1>

    <div id = "profilePic">
      <img src = "assets/media/horns.jpg"/>
    </div>

    <div>
      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
    </div>


  </body>
</html>
